@model Projet.Net.Models.Resultat

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Resultat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreGagnant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScoreGagnant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScorePerdant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScorePerdant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateMatch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateMatch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipeGagnante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipeGagnante.EquipeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipePerdante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipePerdante.EquipeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tournoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tournoi.TournoiId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ResultatId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
