@model IEnumerable<Projet.Net.Models.Resultat>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ScoreGagnant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScorePerdant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateMatch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipeGagnante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipePerdante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tournoi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ScoreGagnant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScorePerdant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateMatch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipeGagnante.EquipeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipePerdante.EquipeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tournoi.TournoiId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ResultatId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ResultatId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ResultatId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
